img {
    width: 150px;
    position: absolute;
    top: 20%;
    left: 2%;
}

.option{
    color:rgb(173, 172, 172);
    text-decoration: none;
}
.option:hover{
    color: antiquewhite;
}

title{
    color: antiquewhite;
}